@font-face {
    font-family: 'alphabetized-cassette';
    font-weight: 400;
    src: url("../assets/fonts/alphabetized-cassette-tapes.ttf") format("opentype");
}

@font-face {
    font-family: 'rellita-display';
    font-weight: 400;
    src: url("../assets/fonts/rellita-display.ttf") format("opentype");
}

// @font-face {
//     font-family: 'titillium-bold';
//     font-weight: 400;
//     src: url("../assets/fonts/TitilliumWeb-Bold.ttf") format("opentype");
// }

// @font-face {
//     font-family: 'titillium-light';
//     src: url("../assets/fonts/TitilliumWeb-Light.ttf") format("opentype");
// }
